# Activer le moteur de reecriture d'URL
RewriteEngine On

# Definir la page 403 personnalisee
ErrorDocument 403 /Nomadix/403.php

# Definir la page 404 personnalisee
ErrorDocument 404 /Nomadix/404.php

# Rediriger les requetes invalides vers 404.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /Nomadix/404.php [L]
