# Activer le moteur de reecriture d'URL
RewriteEngine On

# Definir la page 403 personnalisee
ErrorDocument 403 /Nomadix/403.php

# Definir la page 404 personnalisee
ErrorDocument 404 /Nomadix/404.php

# Laisser Apache servir directement les fichiers et dossiers reels
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Envoyer les autres URL vers le routeur central
RewriteRule ^(.*)$ /Nomadix/index.php [L,QSA]
